<div style="color: White; padding-left: 20px;">
    <div>
        <a href="{% url 'contacts:contacts_create' %}">
            <button>Create new contact</button>
        </a>
        <a href="{% url 'contacts:contacts_delete' %}">
            <button>Delete all contacts</button>
        </a>
    </div>

    <ol>
        {% for contact in contacts_list %}
            <li>
                <div style="display: flex; flex-flow: row;">
                    <div style="margin: .2em;">
                        <b><span>{{ contact.name }}</span></b>
                        <span>{{ contact.phone }}</span>
                        <br>
                        <span>{{ contact.modified_at }}</span>
                    </div>
                    <div style="margin: .2em;">
                        <a href="{% url 'contacts:contacts_update' contact.pk %}">
                            <button>Update</button>
                        </a>
                        <a href="{% url 'contacts:contacts_delete' contact.pk %}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>
